---
layout: default
make-smaller-titles: false
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

              <h2>AMA Specialty Tags</h2>
              
              <div class="tags">
                  <small>
                  <i class="fa fa-tags"></i>
                  {% assign tags = site.tags | sort %}
                  {% for tag in tags %}
                  {% if site.status_tags contains tag[0] %}
                  {% else %}

                  <a href="{{ site.baseurl }}/posts-by-specialty-tags/#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
                  {% if forloop.last == false %}
                  <span>,</span>
                  {% endif %}
                    
                  {% endif %}
                  {% endfor %}  
                  </small> 
              </div>

              <h2>Record Status Tags</h2>
              
              <div class="tags">
                  <small>
                  <i class="fa fa-tags"></i>
                  {% for tag in site.status_tags %}

                  <a href="{{ site.baseurl }}/posts-by-status-tags/#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
                  {% if forloop.last == false %}
                  <span>,</span>
                  {% endif %}
                  
                  {% endfor %}  
                  </small> 
              </div>

            </div>

        </div>

    </div>
</div>
