---
layout: default
make-smaller-titles: true
specialty_tag: pediatric anesthesiology
---

<div class="container-fluid index">
  <div class="row index all-posts">
    <h1 class="header author-header">{{ site.title }}</h1>
    <h2 class="header" itemprop="headline">{{ site.specialty_page_headline }}</h2>
    <div class="col-md-12 content-panel articles">

      <h2 id="{{ tag | first | slugify }}-ref">
        <i class="fa fa-tags"></i>
        {{ site.PAN | capitalize }}
      </h2>

      {% assign has_no_posts = true %}
      {% for tag in site.tags %}
      {% if tag contains page.specialty_tag %}
        {% assign has_no_posts = false %}
        <ul>
        {% for posts in tag %}
        {% for post in posts %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
          </li>
        {% endfor %}
        {% endfor %}
        </ul>
      {% endif %}
      {% endfor %}
      
      {% if has_no_posts %}
        <div class="error-text">
          {{ site.specialty_page_no_posts }}
        </div>
      {% endif %}

      {% include social_links.html %}

      {% include specialty_tags_cloud.html %}
      
    </div>
  </div>

  {% include search_bar.html %}
</div>
