---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
  <div class="row index all-posts">

    <h1 class="header author-header">{{ site.author_name }}</h1>
    <h2 class="header" itemprop="headline">All Posts</h2>
    <h2 class="header categories" itemprop="headline"><small>Grouped by

      <div class="dropdown btn-group">
        <button class="btn btn-categories dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Tags
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/posts/">Years</a></li>
          <li><a href="{{ site.baseurl }}/posts-by-categories/">Categories</a></li>
          <li><a href="{{ site.baseurl }}/posts-by-specialty-tags/">AMA Specialty Tags</a></li>
        </ul>
      </div>

    </small></h2>
      {% for tag in site.status_tags %}
      <div class="col-md-12 content-panel articles">
        <h2 id="{{ tag | first }}-ref">{{ tag | first }}</h2>
        <ul>
          {% for posts in tag %}
            {% for post in posts %}
              <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
              </li>
            {% endfor %}
          {% endfor %}

        </ul>
      </div>
      {% endfor %}

  </div>
</div>
