<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>

    <ul class="pages">
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Latest Appraisal Summaries</a></li>
      <li><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> Appraisal Search</a></li>
      <li><a href="{{ site.baseurl }}/diabetes/"><i class="fa fa-tags"></i> Diabetes</a></li>
      <li><a href="{{ site.baseurl }}/endocrinology/"><i class="fa fa-tags"></i> Endocrinology, diabetes, & metabolism</a></li>
      <li><a href="{{ site.baseurl }}/family-medicine/"><i class="fa fa-tags"></i> Family medicine</a></li>
      <li><a href="{{ site.baseurl }}/general-practice/"><i class="fa fa-tags"></i> General practice</a></li>
      <li><a href="{{ site.baseurl }}/internal-medicine/"><i class="fa fa-tags"></i> Internal medicine</a></li>
      <li><a href="{{ site.baseurl }}/nutrition/"><i class="fa fa-tags"></i> Nutrition</a></li>
    </ul>

    {% include social_links.html %}
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
