<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>

    <ul class="pages">
      <li><a href="{{ site.baseurl }}/"><i class="fas fa-home"></i>&nbsp;&nbsp;Latest Appraisal Summaries</a></li>
      <li><a href="{{ site.baseurl }}/search/"><i class="fas fa-search"></i>&nbsp;&nbsp;Appraisal Search</a></li>
      <li><a href="{{ site.baseurl }}/browse/"><i class="fas fa-user-md"></i>&nbsp;&nbsp;Browse by AMA Specialty</a></li>
      <li><a href="https://www.youtube.com/channel/UCMNQzA3-71TyD-fVbXnxfKQ"><i class="fab fa-youtube"></i>&nbsp;&nbsp;Watch on YouTube</a></li>
      <li><a href="https://doi.org/10.31222/osf.io/y2nrb"><i class="fas fa-graduation-cap"></i>&nbsp;Methods</a></li>
      <li><a href="https://github.com/drzhelnov/zheln.github.io/projects/"><i class="fas fa-tasks"></i>&nbsp;&nbsp;Kanbans</a></li>
      <li><a href="https://github.com/drzhelnov/zheln.github.io">&lt;/&gt;&nbsp;on GitHub&nbsp;&nbsp;<i class="fab fa-github-alt"></i></a></li>
      <li><a href="https://github.com/sponsors/drzhelnov"><i class="far fa-heart"></i>&nbsp;&nbsp;Support</a></li>
    </ul>

    {% include social_links.html %}
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
