<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>

    <ul class="pages">
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Latest Appraisal Summaries</a></li>
      <li><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> Appraisal Search</a></li>
      <li><a href="{{ site.baseurl }}/abdominal-radiology/"><i class="fa fa-tags"></i> {{ site.AR }}</a></li>
      <li><a href="{{ site.baseurl }}/abdominal-surgery/"><i class="fa fa-tags"></i> {{ site.AS }}</a></li>
      <li><a href="{{ site.baseurl }}/addiction-medicine/"><i class="fa fa-tags"></i> {{ site.ADM }}</a></li>
      <li><a href="{{ site.baseurl }}/addiction-psychiatry/"><i class="fa fa-tags"></i> {{ site.ADP }}</a></li>
      <li><a href="{{ site.baseurl }}/adolescent-medicine/"><i class="fa fa-tags"></i> {{ site.ADL }}</a></li>
      <li><a href="{{ site.baseurl }}/adolescent-psychiatry/"><i class="fa fa-tags"></i> {{ site.CHP }}</a></li>
      <li><a href="{{ site.baseurl }}/adult-cardiothoracic-anesthesiology/"><i class="fa fa-tags"></i> {{ site.ACA }}</a></li>
      <li><a href="{{ site.baseurl }}/adult-congenital-heart-disease/"><i class="fa fa-tags"></i> {{ site.CHD }}</a></li>
      <li><a href="{{ site.baseurl }}/adult-reconstructive-orthopedics/"><i class="fa fa-tags"></i> {{ site.OAR }}</a></li>
      <li><a href="{{ site.baseurl }}/advanced-heart-failure/"><i class="fa fa-tags"></i> {{ site.AHF }}</a></li>
      <li><a href="{{ site.baseurl }}/advanced-surgical-oncology/"><i class="fa fa-tags"></i> {{ site.ASO }}</a></li>
      <li><a href="{{ site.baseurl }}/aerospace-medicine/"><i class="fa fa-tags"></i> {{ site.AM }}</a></li>
      <li><a href="{{ site.baseurl }}/allergy/"><i class="fa fa-tags"></i> {{ site.AI }}</a></li>
      <li><a href="{{ site.baseurl }}/anatomic-pathology/"><i class="fa fa-tags"></i> {{ site.PTH }}</a></li>
      <li><a href="{{ site.baseurl }}/anesthesiology/"><i class="fa fa-tags"></i> {{ site.AN }}</a></li>
      <li><a href="{{ site.baseurl }}/blood-banking/"><i class="fa fa-tags"></i> {{ site.BBK }}</a></li>
      <li><a href="{{ site.baseurl }}/brain-injury-medicine/"><i class="fa fa-tags"></i> {{ site.BIN }}</a></li>
      <li><a href="{{ site.baseurl }}/cardiac-electrophysiology/"><i class="fa fa-tags"></i> {{ site.ICE }}</a></li>
      <li><a href="{{ site.baseurl }}/cardiothoracic-radiology/"><i class="fa fa-tags"></i> {{ site.CTR }}</a></li>
      <li><a href="{{ site.baseurl }}/cardiovascular-diseases/"><i class="fa fa-tags"></i> {{ site.CD }}</a></li>
      <li><a href="{{ site.baseurl }}/chemical-pathology/"><i class="fa fa-tags"></i> {{ site.PCH }}</a></li>
      <li><a href="{{ site.baseurl }}/child-abuse-pediatrics/"><i class="fa fa-tags"></i> {{ site.CAP }}</a></li>
      <li><a href="{{ site.baseurl }}/child-neurology/"><i class="fa fa-tags"></i> {{ site.CHN }}</a></li>
      <li><a href="{{ site.baseurl }}/child-psychiatry/"><i class="fa fa-tags"></i> {{ site.CHP }}</a></li>
      <li><a href="{{ site.baseurl }}/clinical-biochemical-genetics/"><i class="fa fa-tags"></i> {{ site.CBG }}</a></li>
      <li><a href="{{ site.baseurl }}/clinical-cytogenetics/"><i class="fa fa-tags"></i> {{ site.CCG }}</a></li>
      <li><a href="{{ site.baseurl }}/clinical-genetics/"><i class="fa fa-tags"></i> {{ site.CG }}</a></li>
      <li><a href="{{ site.baseurl }}/clinical-informatics/"><i class="fa fa-tags"></i> {{ site.CIM }}</a></li>
      <li><a href="{{ site.baseurl }}/clinical-laboratory-dermatological-immunology/"><i class="fa fa-tags"></i> {{ site.DDL }}</a></li>
      <li><a href="{{ site.baseurl }}/clinical-laboratory-immunology/"><i class="fa fa-tags"></i> {{ site.ALI }}</a></li>
      <li><a href="{{ site.baseurl }}/clinical-molecular-genetics/"><i class="fa fa-tags"></i> {{ site.CMG }}</a></li>
      <li><a href="{{ site.baseurl }}/clinical-neurophysiology/"><i class="fa fa-tags"></i> {{ site.CN }}</a></li>
      <li><a href="{{ site.baseurl }}/clinical-pharmacology/"><i class="fa fa-tags"></i> {{ site.PA }}</a></li>
      <li><a href="{{ site.baseurl }}/colon-surgery/"><i class="fa fa-tags"></i> {{ site.CRS }}</a></li>
      <li><a href="{{ site.baseurl }}/congenital-cardiac-surgery/"><i class="fa fa-tags"></i> {{ site.CHS }}</a></li>
      <li><a href="{{ site.baseurl }}/cosmetic-surgery/"><i class="fa fa-tags"></i> {{ site.CS }}</a></li>
      <li><a href="{{ site.baseurl }}/craniofacial-surgery/"><i class="fa fa-tags"></i> {{ site.CFS }}</a></li>
      <li><a href="{{ site.baseurl }}/critical-care-medicine/"><i class="fa fa-tags"></i> {{ site.CCM }}</a></li>
      <li><a href="{{ site.baseurl }}/cytopathology/"><i class="fa fa-tags"></i> {{ site.PCP }}</a></li>
      <li><a href="{{ site.baseurl }}/dermatologic-surgery/"><i class="fa fa-tags"></i> {{ site.DS }}</a></li>
      <li><a href="{{ site.baseurl }}/dermatology/"><i class="fa fa-tags"></i> {{ site.D }}</a></li>
      <li><a href="{{ site.baseurl }}/dermatopathology/"><i class="fa fa-tags"></i> {{ site.DMP }}</a></li>
      <li><a href="{{ site.baseurl }}/developmental-behavioral-pediatrics/"><i class="fa fa-tags"></i> {{ site.DBP }}</a></li>
      <li><a href="{{ site.baseurl }}/diabetes/"><i class="fa fa-tags"></i> {{ site.DIA }}</a></li>
      <li><a href="{{ site.baseurl }}/diagnostic-radiology/"><i class="fa fa-tags"></i> {{ site.DR }}</a></li>
      <li><a href="{{ site.baseurl }}/emergency-medical-services/"><i class="fa fa-tags"></i> {{ site.EMS }}</a></li>
      <li><a href="{{ site.baseurl }}/emergency-medicine/"><i class="fa fa-tags"></i> {{ site.EM }}</a></li>
      <li><a href="{{ site.baseurl }}/endocrinology/"><i class="fa fa-tags"></i> {{ site.END }}</a></li>
      <li><a href="{{ site.baseurl }}/endovascular-surgical-neuroradiology/"><i class="fa fa-tags"></i> {{ site.ESN }}</a></li>
      <li><a href="{{ site.baseurl }}/epidemiology/"><i class="fa fa-tags"></i> {{ site.EP }}</a></li>
      <li><a href="{{ site.baseurl }}/epilepsy/"><i class="fa fa-tags"></i> {{ site.EPL }}</a></li>
      <li><a href="{{ site.baseurl }}/facial-plastic-surgery/"><i class="fa fa-tags"></i> {{ site.FPS }}</a></li>
      <li><a href="{{ site.baseurl }}/family-medicine/"><i class="fa fa-tags"></i> {{ site.FM }}</a></li>
      <li><a href="{{ site.baseurl }}/female-pelvic-medicine/"><i class="fa fa-tags"></i> {{ site.FPR }}</a></li>
      <li><a href="{{ site.baseurl }}/foot-orthopedics/"><i class="fa fa-tags"></i> {{ site.OFA }}</a></li>
      <li><a href="{{ site.baseurl }}/forensic-pathology/"><i class="fa fa-tags"></i> {{ site.FOP }}</a></li>
      <li><a href="{{ site.baseurl }}/forensic-psychiatry/"><i class="fa fa-tags"></i> {{ site.PFP }}</a></li>
      <li><a href="{{ site.baseurl }}/gastroenterology/"><i class="fa fa-tags"></i> {{ site.GE }}</a></li>
      <li><a href="{{ site.baseurl }}/general-practice/"><i class="fa fa-tags"></i> {{ site.GP }}</a></li>
      <li><a href="{{ site.baseurl }}/general-surgery/"><i class="fa fa-tags"></i> {{ site.GS }}</a></li>
      <li><a href="{{ site.baseurl }}/geriatric-medicine/"><i class="fa fa-tags"></i> {{ site.IMG }}</a></li>
      <li><a href="{{ site.baseurl }}/geriatric-psychiatry/"><i class="fa fa-tags"></i> {{ site.PYG }}</a></li>
      <li><a href="{{ site.baseurl }}/gynecological-oncology/"><i class="fa fa-tags"></i> {{ site.GO }}</a></li>
      <li><a href="{{ site.baseurl }}/gynecology/"><i class="fa fa-tags"></i> {{ site.GYN }}</a></li>
      <li><a href="{{ site.baseurl }}/hand-surgery/"><i class="fa fa-tags"></i> {{ site.HS }}</a></li>
      <li><a href="{{ site.baseurl }}/head-and-neck-surgery/"><i class="fa fa-tags"></i> {{ site.HNS }}</a></li>
      <li><a href="{{ site.baseurl }}/hematology/"><i class="fa fa-tags"></i> {{ site.HEM }}</a></li>
      <li><a href="{{ site.baseurl }}/hematology-oncology/"><i class="fa fa-tags"></i> {{ site.HO }}</a></li>
      <li><a href="{{ site.baseurl }}/hepatology/"><i class="fa fa-tags"></i> {{ site.HEP }}</a></li>
      <li><a href="{{ site.baseurl }}/hospice-medicine/"><i class="fa fa-tags"></i> {{ site.HPM }}</a></li>
      <li><a href="{{ site.baseurl }}/immunology/"><i class="fa fa-tags"></i> {{ site.IG }}</a></li>
      <li><a href="{{ site.baseurl }}/infectious-disease/"><i class="fa fa-tags"></i> {{ site.ID }}</a></li>
      <li><a href="{{ site.baseurl }}/internal-medicine/"><i class="fa fa-tags"></i> {{ site.IM }}</a></li>
      <li><a href="{{ site.baseurl }}/interventional-cardiology/"><i class="fa fa-tags"></i> {{ site.IC }}</a></li>
      <li><a href="{{ site.baseurl }}/legal-medicine/"><i class="fa fa-tags"></i> {{ site.LM }}</a></li>
      <li><a href="{{ site.baseurl }}/maternal-fetal-medicine/"><i class="fa fa-tags"></i> {{ site.MFM }}</a></li>
      <li><a href="{{ site.baseurl }}/medical-biochemical-genetics/"><i class="fa fa-tags"></i> {{ site.MBG }}</a></li>
      <li><a href="{{ site.baseurl }}/medical-genetics/"><i class="fa fa-tags"></i> {{ site.MG }}</a></li>
      <li><a href="{{ site.baseurl }}/medical-management/"><i class="fa fa-tags"></i> {{ site.MDM }}</a></li>
      <li><a href="{{ site.baseurl }}/medical-microbiology/"><i class="fa fa-tags"></i> {{ site.MM }}</a></li>
      <li><a href="{{ site.baseurl }}/medical-oncology/"><i class="fa fa-tags"></i> {{ site.ONON }}</a></li>
      <li><a href="{{ site.baseurl }}/medical-physics/"><i class="fa fa-tags"></i> {{ site.MDP }}</a></li>
      <li><a href="{{ site.baseurl }}/medical-toxicology/"><i class="fa fa-tags"></i> {{ site.PTX }}</a></li>
      <li><a href="{{ site.baseurl }}/molecular-genetic-pathology/"><i class="fa fa-tags"></i> {{ site.MGP }}</a></li>
      <li><a href="{{ site.baseurl }}/musculoskeletal-oncology/"><i class="fa fa-tags"></i> {{ site.OMO }}</a></li>
      <li><a href="{{ site.baseurl }}/musculoskeletal-radiology/"><i class="fa fa-tags"></i> {{ site.MSR }}</a></li>
      <li><a href="{{ site.baseurl }}/neonatal-perinatal-medicine/"><i class="fa fa-tags"></i> {{ site.NPM }}</a></li>
      <li><a href="{{ site.baseurl }}/nephrology/"><i class="fa fa-tags"></i> {{ site.NEP }}</a></li>
      <li><a href="{{ site.baseurl }}/neurodevelopmental-disabilities/"><i class="fa fa-tags"></i> {{ site.NDN }}</a></li>
      <li><a href="{{ site.baseurl }}/neurological-surgery/"><i class="fa fa-tags"></i> {{ site.NS }}</a></li>
      <li><a href="{{ site.baseurl }}/neurology/"><i class="fa fa-tags"></i> {{ site.N }}</a></li>
      <li><a href="{{ site.baseurl }}/neuromuscular-medicine/"><i class="fa fa-tags"></i> {{ site.NMN }}</a></li>
      <li><a href="{{ site.baseurl }}/neuropathology/"><i class="fa fa-tags"></i> {{ site.NP }}</a></li>
      <li><a href="{{ site.baseurl }}/neuropsychiatry/"><i class="fa fa-tags"></i> {{ site.NUP }}</a></li>
      <li><a href="{{ site.baseurl }}/neuroradiology/"><i class="fa fa-tags"></i> {{ site.RNR }}</a></li>
      <li><a href="{{ site.baseurl }}/neurotology/"><i class="fa fa-tags"></i> {{ site.NONO }}</a></li>
      <li><a href="{{ site.baseurl }}/nuclear-cardiology/"><i class="fa fa-tags"></i> {{ site.NC }}</a></li>
      <li><a href="{{ site.baseurl }}/nuclear-medicine/"><i class="fa fa-tags"></i> {{ site.NM }}</a></li>
      <li><a href="{{ site.baseurl }}/nutrition/"><i class="fa fa-tags"></i> {{ site.NTR }}</a></li>
      <li><a href="{{ site.baseurl }}/obstetric-anesthesiology/"><i class="fa fa-tags"></i> {{ site.OAN }}</a></li>
      <li><a href="{{ site.baseurl }}/obstetrics/"><i class="fa fa-tags"></i> {{ site.OBG }}</a></li>
      <li><a href="{{ site.baseurl }}/occupational-medicine/"><i class="fa fa-tags"></i> {{ site.OM }}</a></li>
      <li><a href="{{ site.baseurl }}/ophthalmic-plastic-surgery/"><i class="fa fa-tags"></i> {{ site.OPR }}</a></li>
      <li><a href="{{ site.baseurl }}/ophthalmology/"><i class="fa fa-tags"></i> {{ site.OPH }}</a></li>
      <li><a href="{{ site.baseurl }}/oral-surgery/"><i class="fa fa-tags"></i> {{ site.OMF }}</a></li>
      <li><a href="{{ site.baseurl }}/orthopedic-spine-surgery/"><i class="fa fa-tags"></i> {{ site.OSS }}</a></li>
      <li><a href="{{ site.baseurl }}/orthopedic-surgery/"><i class="fa fa-tags"></i> {{ site.ORS }}</a></li>
      <li><a href="{{ site.baseurl }}/orthopedic-trauma/"><i class="fa fa-tags"></i> {{ site.OTR }}</a></li>
      <li><a href="{{ site.baseurl }}/osteopathic-manipulative-medicine/"><i class="fa fa-tags"></i> {{ site.OMM }}</a></li>
      <li><a href="{{ site.baseurl }}/osteopathic-neuromusculoskeletal-medicine/"><i class="fa fa-tags"></i> {{ site.ONM }}</a></li>
      <li><a href="{{ site.baseurl }}/otolaryngology/"><i class="fa fa-tags"></i> {{ site.OTO }}</a></li>
      <li><a href="{{ site.baseurl }}/pain-medicine/"><i class="fa fa-tags"></i> {{ site.PMM }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-allergy/"><i class="fa fa-tags"></i> {{ site.PDA }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-anesthesiology/"><i class="fa fa-tags"></i> {{ site.PAN }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-cardiology/"><i class="fa fa-tags"></i> {{ site.PDC }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-cardiothoracic-surgery/"><i class="fa fa-tags"></i> {{ site.PCS }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-critical-care-medicine/"><i class="fa fa-tags"></i> {{ site.CCP }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-dermatology/"><i class="fa fa-tags"></i> {{ site.PDD }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-emergency-medicine/"><i class="fa fa-tags"></i> {{ site.PEM }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-endocrinology/"><i class="fa fa-tags"></i> {{ site.PDE }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-gastroenterology/"><i class="fa fa-tags"></i> {{ site.PG }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-hematology-oncology/"><i class="fa fa-tags"></i> {{ site.PHO }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-hospital-medicine/"><i class="fa fa-tags"></i> {{ site.PHE }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-infectious-diseases/"><i class="fa fa-tags"></i> {{ site.PDI }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-nephrology/"><i class="fa fa-tags"></i> {{ site.PN }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-ophthalmology/"><i class="fa fa-tags"></i> {{ site.PO }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-orthopedics/"><i class="fa fa-tags"></i> {{ site.OP }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-otolaryngology/"><i class="fa fa-tags"></i> {{ site.PDO }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-pathology/"><i class="fa fa-tags"></i> {{ site.PP }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-pulmonology/"><i class="fa fa-tags"></i> {{ site.PDP }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-radiology/"><i class="fa fa-tags"></i> {{ site.PDR }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-rehabilitation-medicine/"><i class="fa fa-tags"></i> {{ site.RPM }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-rheumatology/"><i class="fa fa-tags"></i> {{ site.PPR }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-surgery/"><i class="fa fa-tags"></i> {{ site.PDS }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-transplant-hepatology/"><i class="fa fa-tags"></i> {{ site.PTP }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatric-urology/"><i class="fa fa-tags"></i> {{ site.UP }}</a></li>
      <li><a href="{{ site.baseurl }}/pediatrics/"><i class="fa fa-tags"></i> {{ site.PD }}</a></li>
      <li><a href="{{ site.baseurl }}/pharmaceutical-medicine/"><i class="fa fa-tags"></i> {{ site.PHM }}</a></li>
      <li><a href="{{ site.baseurl }}/phlebology/"><i class="fa fa-tags"></i> {{ site.PHL }}</a></li>
      <li><a href="{{ site.baseurl }}/physical-medicine-rehabilitation/"><i class="fa fa-tags"></i> {{ site.PM }}</a></li>
      <li><a href="{{ site.baseurl }}/plastic-head-and-neck-surgery/"><i class="fa fa-tags"></i> {{ site.PSH }}</a></li>
      <li><a href="{{ site.baseurl }}/plastic-surgery/"><i class="fa fa-tags"></i> {{ site.PS }}</a></li>
      <li><a href="{{ site.baseurl }}/procedural-dermatology/"><i class="fa fa-tags"></i> {{ site.PRD }}</a></li>
      <li><a href="{{ site.baseurl }}/psychiatry/"><i class="fa fa-tags"></i> {{ site.P }}</a></li>
      <li><a href="{{ site.baseurl }}/psychoanalysis/"><i class="fa fa-tags"></i> {{ site.PYA }}</a></li>
      <li><a href="{{ site.baseurl }}/psychosomatic-medicine/"><i class="fa fa-tags"></i> {{ site.PYM }}</a></li>
      <li><a href="{{ site.baseurl }}/public-health/"><i class="fa fa-tags"></i> {{ site.PHP }}</a></li>
      <li><a href="{{ site.baseurl }}/pulmonary-critical-care-medicine/"><i class="fa fa-tags"></i> {{ site.PCC }}</a></li>
      <li><a href="{{ site.baseurl }}/pulmonary-disease/"><i class="fa fa-tags"></i> {{ site.PUD }}</a></li>
      <li><a href="{{ site.baseurl }}/radiation-oncology/"><i class="fa fa-tags"></i> {{ site.RO }}</a></li>
      <li><a href="{{ site.baseurl }}/radiological-physics/"><i class="fa fa-tags"></i> {{ site.RP }}</a></li>
      <li><a href="{{ site.baseurl }}/radiology/"><i class="fa fa-tags"></i> {{ site.R }}</a></li>
      <li><a href="{{ site.baseurl }}/reproductive-endocrinology/"><i class="fa fa-tags"></i> {{ site.REN }}</a></li>
      <li><a href="{{ site.baseurl }}/rheumatology/"><i class="fa fa-tags"></i> {{ site.RHU }}</a></li>
      <li><a href="{{ site.baseurl }}/selective-pathology/"><i class="fa fa-tags"></i> {{ site.SP }}</a></li>
      <li><a href="{{ site.baseurl }}/sleep-medicine/"><i class="fa fa-tags"></i> {{ site.SME }}</a></li>
      <li><a href="{{ site.baseurl }}/spinal-cord-injury/"><i class="fa fa-tags"></i> {{ site.SCI }}</a></li>
      <li><a href="{{ site.baseurl }}/sports-medicine/"><i class="fa fa-tags"></i> {{ site.PRS }}</a></li>
      <li><a href="{{ site.baseurl }}/surgical-critical-care/"><i class="fa fa-tags"></i> {{ site.CCS }}</a></li>
      <li><a href="{{ site.baseurl }}/surgical-oncology/"><i class="fa fa-tags"></i> {{ site.SO }}</a></li>
      <li><a href="{{ site.baseurl }}/thoracic-surgery/"><i class="fa fa-tags"></i> {{ site.TS }}</a></li>
      <li><a href="{{ site.baseurl }}/transplant-hepatology/"><i class="fa fa-tags"></i> {{ site.THP }}</a></li>
      <li><a href="{{ site.baseurl }}/transplant-surgery/"><i class="fa fa-tags"></i> {{ site.TTS }}</a></li>
      <li><a href="{{ site.baseurl }}/trauma-surgery/"><i class="fa fa-tags"></i> {{ site.TRS }}</a></li>
      <li><a href="{{ site.baseurl }}/undersea-medicine/"><i class="fa fa-tags"></i> {{ site.UM }}</a></li>
      <li><a href="{{ site.baseurl }}/urgent-care-medicine/"><i class="fa fa-tags"></i> {{ site.UCM }}</a></li>
      <li><a href="{{ site.baseurl }}/urology/"><i class="fa fa-tags"></i> {{ site.U }}</a></li>
      <li><a href="{{ site.baseurl }}/vascular-medicine/"><i class="fa fa-tags"></i> {{ site.VM }}</a></li>
      <li><a href="{{ site.baseurl }}/vascular-neurology/"><i class="fa fa-tags"></i> {{ site.VN }}</a></li>
      <li><a href="{{ site.baseurl }}/vascular-radiology/"><i class="fa fa-tags"></i> {{ site.VIR }}</a></li>
      <li><a href="{{ site.baseurl }}/vascular-surgery/"><i class="fa fa-tags"></i> {{ site.VS }}</a></li>
    </ul>

    {% include social_links.html %}
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
