<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
{% if page.title %}{{ page.title | append: " | " }}
{% else %}
    {% if page.name = "abdominal-radiology.html" %}{{ site.AR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "abdominal-surgery.html" %}{{ site.AS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "addiction-medicine.html" %}{{ site.ADM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "addiction-psychiatry.html" %}{{ site.ADP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "adolescent-medicine.html" %}{{ site.ADL | capitalize | append: " | " }}{% endif %}
    {% if page.name = "adolescent-psychiatry.html" %}{{ site.CHP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "adult-cardiothoracic-anesthesiology.html" %}{{ site.ACA | capitalize | append: " | " }}{% endif %}
    {% if page.name = "adult-congenital-heart-disease.html" %}{{ site.CHD | capitalize | append: " | " }}{% endif %}
    {% if page.name = "adult-reconstructive-orthopedics.html" %}{{ site.OAR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "advanced-heart-failure.html" %}{{ site.AHF | capitalize | append: " | " }}{% endif %}
    {% if page.name = "advanced-surgical-oncology.html" %}{{ site.ASO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "aerospace-medicine.html" %}{{ site.AM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "allergy.html" %}{{ site.AI | capitalize | append: " | " }}{% endif %}
    {% if page.name = "anatomic-pathology.html" %}{{ site.PTH | capitalize | append: " | " }}{% endif %}
    {% if page.name = "anesthesiology.html" %}{{ site.AN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "blood-banking.html" %}{{ site.BBK | capitalize | append: " | " }}{% endif %}
    {% if page.name = "brain-injury-medicine.html" %}{{ site.BIN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "cardiac-electrophysiology.html" %}{{ site.ICE | capitalize | append: " | " }}{% endif %}
    {% if page.name = "cardiothoracic-radiology.html" %}{{ site.CTR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "cardiovascular-diseases.html" %}{{ site.CD | capitalize | append: " | " }}{% endif %}
    {% if page.name = "chemical-pathology.html" %}{{ site.PCH | capitalize | append: " | " }}{% endif %}
    {% if page.name = "child-abuse-pediatrics.html" %}{{ site.CAP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "child-neurology.html" %}{{ site.CHN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "child-psychiatry.html" %}{{ site.CHP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "clinical-biochemical-genetics.html" %}{{ site.CBG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "clinical-cytogenetics.html" %}{{ site.CCG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "clinical-genetics.html" %}{{ site.CG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "clinical-informatics.html" %}{{ site.CIM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "clinical-laboratory-dermatological-immunology.html" %}{{ site.DDL | capitalize | append: " | " }}{% endif %}
    {% if page.name = "clinical-laboratory-immunology.html" %}{{ site.ALI | capitalize | append: " | " }}{% endif %}
    {% if page.name = "clinical-molecular-genetics.html" %}{{ site.CMG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "clinical-neurophysiology.html" %}{{ site.CN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "clinical-pharmacology.html" %}{{ site.PA | capitalize | append: " | " }}{% endif %}
    {% if page.name = "colon-surgery.html" %}{{ site.CRS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "congenital-cardiac-surgery.html" %}{{ site.CHS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "cosmetic-surgery.html" %}{{ site.CS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "craniofacial-surgery.html" %}{{ site.CFS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "critical-care-medicine.html" %}{{ site.CCM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "cytopathology.html" %}{{ site.PCP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "dermatologic-surgery.html" %}{{ site.DS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "dermatology.html" %}{{ site.D | capitalize | append: " | " }}{% endif %}
    {% if page.name = "dermatopathology.html" %}{{ site.DMP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "developmental-behavioral-pediatrics.html" %}{{ site.DBP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "diabetes.html" %}{{ site.DIA | capitalize | append: " | " }}{% endif %}
    {% if page.name = "diagnostic-radiology.html" %}{{ site.DR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "emergency-medical-services.html" %}{{ site.EMS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "emergency-medicine.html" %}{{ site.EM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "endocrinology.html" %}{{ site.END | capitalize | append: " | " }}{% endif %}
    {% if page.name = "endovascular-surgical-neuroradiology.html" %}{{ site.ESN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "epidemiology.html" %}{{ site.EP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "epilepsy.html" %}{{ site.EPL | capitalize | append: " | " }}{% endif %}
    {% if page.name = "facial-plastic-surgery.html" %}{{ site.FPS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "family-medicine.html" %}{{ site.FM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "female-pelvic-medicine.html" %}{{ site.FPR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "foot-orthopedics.html" %}{{ site.OFA | capitalize | append: " | " }}{% endif %}
    {% if page.name = "forensic-pathology.html" %}{{ site.FOP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "forensic-psychiatry.html" %}{{ site.PFP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "gastroenterology.html" %}{{ site.GE | capitalize | append: " | " }}{% endif %}
    {% if page.name = "general-practice.html" %}{{ site.GP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "general-surgery.html" %}{{ site.GS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "geriatric-medicine.html" %}{{ site.IMG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "geriatric-psychiatry.html" %}{{ site.PYG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "gynecological-oncology.html" %}{{ site.GO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "gynecology.html" %}{{ site.GYN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "hand-surgery.html" %}{{ site.HS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "head-and-neck-surgery.html" %}{{ site.HNS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "hematology.html" %}{{ site.HEM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "hematology-oncology.html" %}{{ site.HO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "hepatology.html" %}{{ site.HEP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "hospice-medicine.html" %}{{ site.HPM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "immunology.html" %}{{ site.IG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "infectious-disease.html" %}{{ site.ID | capitalize | append: " | " }}{% endif %}
    {% if page.name = "internal-medicine.html" %}{{ site.IM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "interventional-cardiology.html" %}{{ site.IC | capitalize | append: " | " }}{% endif %}
    {% if page.name = "legal-medicine.html" %}{{ site.LM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "maternal-fetal-medicine.html" %}{{ site.MFM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "medical-biochemical-genetics.html" %}{{ site.MBG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "medical-genetics.html" %}{{ site.MG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "medical-management.html" %}{{ site.MDM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "medical-microbiology.html" %}{{ site.MM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "medical-oncology.html" %}{{ site.ONON | capitalize | append: " | " }}{% endif %}
    {% if page.name = "medical-physics.html" %}{{ site.MDP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "medical-toxicology.html" %}{{ site.PTX | capitalize | append: " | " }}{% endif %}
    {% if page.name = "molecular-genetic-pathology.html" %}{{ site.MGP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "musculoskeletal-oncology.html" %}{{ site.OMO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "musculoskeletal-radiology.html" %}{{ site.MSR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "neonatal-perinatal-medicine.html" %}{{ site.NPM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "nephrology.html" %}{{ site.NEP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "neurodevelopmental-disabilities.html" %}{{ site.NDN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "neurological-surgery.html" %}{{ site.NS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "neurology.html" %}{{ site.N | capitalize | append: " | " }}{% endif %}
    {% if page.name = "neuromuscular-medicine.html" %}{{ site.NMN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "neuropathology.html" %}{{ site.NP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "neuropsychiatry.html" %}{{ site.NUP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "neuroradiology.html" %}{{ site.RNR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "neurotology.html" %}{{ site.NONO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "nuclear-cardiology.html" %}{{ site.NC | capitalize | append: " | " }}{% endif %}
    {% if page.name = "nuclear-medicine.html" %}{{ site.NM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "nutrition.html" %}{{ site.NTR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "obstetric-anesthesiology.html" %}{{ site.OAN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "obstetrics.html" %}{{ site.OBG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "occupational-medicine.html" %}{{ site.OM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "ophthalmic-plastic-surgery.html" %}{{ site.OPR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "ophthalmology.html" %}{{ site.OPH | capitalize | append: " | " }}{% endif %}
    {% if page.name = "oral-surgery.html" %}{{ site.OMF | capitalize | append: " | " }}{% endif %}
    {% if page.name = "orthopedic-spine-surgery.html" %}{{ site.OSS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "orthopedic-surgery.html" %}{{ site.ORS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "orthopedic-trauma.html" %}{{ site.OTR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "osteopathic-manipulative-medicine.html" %}{{ site.OMM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "osteopathic-neuromusculoskeletal-medicine.html" %}{{ site.ONM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "otolaryngology.html" %}{{ site.OTO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pain-medicine.html" %}{{ site.PMM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-allergy.html" %}{{ site.PDA | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-anesthesiology.html" %}{{ site.PAN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-cardiology.html" %}{{ site.PDC | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-cardiothoracic-surgery.html" %}{{ site.PCS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-critical-care-medicine.html" %}{{ site.CCP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-dermatology.html" %}{{ site.PDD | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-emergency-medicine.html" %}{{ site.PEM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-endocrinology.html" %}{{ site.PDE | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-gastroenterology.html" %}{{ site.PG | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-hematology-oncology.html" %}{{ site.PHO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-hospital-medicine.html" %}{{ site.PHE | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-infectious-diseases.html" %}{{ site.PDI | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-nephrology.html" %}{{ site.PN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-ophthalmology.html" %}{{ site.PO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-orthopedics.html" %}{{ site.OP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-otolaryngology.html" %}{{ site.PDO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-pathology.html" %}{{ site.PP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-pulmonology.html" %}{{ site.PDP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-radiology.html" %}{{ site.PDR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-rehabilitation-medicine.html" %}{{ site.RPM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-rheumatology.html" %}{{ site.PPR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-surgery.html" %}{{ site.PDS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-transplant-hepatology.html" %}{{ site.PTP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatric-urology.html" %}{{ site.UP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pediatrics.html" %}{{ site.PD | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pharmaceutical-medicine.html" %}{{ site.PHM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "phlebology.html" %}{{ site.PHL | capitalize | append: " | " }}{% endif %}
    {% if page.name = "physical-medicine-rehabilitation.html" %}{{ site.PM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "plastic-head-and-neck-surgery.html" %}{{ site.PSH | capitalize | append: " | " }}{% endif %}
    {% if page.name = "plastic-surgery.html" %}{{ site.PS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "procedural-dermatology.html" %}{{ site.PRD | capitalize | append: " | " }}{% endif %}
    {% if page.name = "psychiatry.html" %}{{ site.P | capitalize | append: " | " }}{% endif %}
    {% if page.name = "psychoanalysis.html" %}{{ site.PYA | capitalize | append: " | " }}{% endif %}
    {% if page.name = "psychosomatic-medicine.html" %}{{ site.PYM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "public-health.html" %}{{ site.PHP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pulmonary-critical-care-medicine.html" %}{{ site.PCC | capitalize | append: " | " }}{% endif %}
    {% if page.name = "pulmonary-disease.html" %}{{ site.PUD | capitalize | append: " | " }}{% endif %}
    {% if page.name = "radiation-oncology.html" %}{{ site.RO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "radiological-physics.html" %}{{ site.RP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "radiology.html" %}{{ site.R | capitalize | append: " | " }}{% endif %}
    {% if page.name = "reproductive-endocrinology.html" %}{{ site.REN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "rheumatology.html" %}{{ site.RHU | capitalize | append: " | " }}{% endif %}
    {% if page.name = "selective-pathology.html" %}{{ site.SP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "sleep-medicine.html" %}{{ site.SME | capitalize | append: " | " }}{% endif %}
    {% if page.name = "spinal-cord-injury.html" %}{{ site.SCI | capitalize | append: " | " }}{% endif %}
    {% if page.name = "sports-medicine.html" %}{{ site.PRS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "surgical-critical-care.html" %}{{ site.CCS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "surgical-oncology.html" %}{{ site.SO | capitalize | append: " | " }}{% endif %}
    {% if page.name = "thoracic-surgery.html" %}{{ site.TS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "transplant-hepatology.html" %}{{ site.THP | capitalize | append: " | " }}{% endif %}
    {% if page.name = "transplant-surgery.html" %}{{ site.TTS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "trauma-surgery.html" %}{{ site.TRS | capitalize | append: " | " }}{% endif %}
    {% if page.name = "undersea-medicine.html" %}{{ site.UM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "urgent-care-medicine.html" %}{{ site.UCM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "urology.html" %}{{ site.U | capitalize | append: " | " }}{% endif %}
    {% if page.name = "vascular-medicine.html" %}{{ site.VM | capitalize | append: " | " }}{% endif %}
    {% if page.name = "vascular-neurology.html" %}{{ site.VN | capitalize | append: " | " }}{% endif %}
    {% if page.name = "vascular-radiology.html" %}{{ site.VIR | capitalize | append: " | " }}{% endif %}
    {% if page.name = "vascular-surgery.html" %}{{ site.VS | capitalize | append: " | " }}{% endif %}
{% endif %}
{{ site.title }}
</title>
<meta name="description" content="{{ site.description }}">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/jquery.mmenu.all.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/highlightjs.piperita.css">

<!-- Favicons generated at http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="{{ site.baseurl }}/favicons/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/favicons/site.webmanifest">
<link rel="mask-icon" href="{{ site.baseurl }}/favicons/safari-pinned-tab.svg" color="#ffbf35">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Zheln">
<meta name="application-name" content="Zheln">
<meta name="msapplication-TileColor" content="#ffbf35">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicons/mstile-144x144.png">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicons/mstile-150x150.png">
<meta name="msapplication-config" content="{{ site.baseurl }}/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffbf35">

{% if site.addthis_id %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_id }}"></script>
{% endif %}

{% if page.content contains '<script type="math/tex' %}
<!-- MathJax for LaTeX -->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

</head>
